<div class="page-header">

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
      <% if @user.id == @photo.user_id %>
      <dt>Image</dt>
      <dd><%= @photo.image %></dd>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
